---
name: Deploy to Github Pages

permissions:
  contents: read
  pages: write
  id-token: write

on:
  push:
    branches: ["master"]
  workflow_dispatch: {}

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: oven-sh/setup-bin@v2
      - uses: actions/configure-pages@v4
      - name: Install dependencies
        run: bun install
      - name: Build with VitePress
        run: bun vitepress build
      - uses: actions/upload-pages-artifact@v3
        with:
          path: .vitepress/dist

  deploy:
    environment:
      name: github-pages4
      url: ${{ steps.deployment.outputs.pages_url }}
    needs: build
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/deploy-pages@v4
