---
name: Deploy to Github Pages

permissions:
  contents: read
  pages: write
  id-token: write

on:
  push:
    branches: ["master"]
  workflow_dispatch: {}

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: oven-sh/setup-bun@b7a1c7ccf290d58743029c4f6903da283811b979 # v2.1.0
      - uses: actions/configure-pages@1f0c5cde4bc74cd7e1254d0cb4de8d49e9068c7d # v4.0.0
      - name: Install dependencies
        run: bun install
      - name: Build with VitePress
        run: bun vitepress build
      - uses: actions/upload-pages-artifact@56afc609e74202658d3ffba0e8f6dda462b719fa # v3.0.1
        with:
          path: .vitepress/dist

  deploy:
    environment:
      name: github-pages4
      url: ${{ steps.deployment.outputs.pages_url }}
    needs: build
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
